DirectoryIndex index.php index.asp index.html index.htm

Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^library61/(.*) /z-content/template/library61/$1


php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on